!!!
-#
  Moved here due to this code not working(although it should). Leaving it for future reference.
  - skills = (opts) ->
    - for row in opts
      .row
      - for column in row
        .skill.col-xs-12.col-md-6
          .col-xs-12.col-sm-3.text-center
            %i.devicon{:class => "devicon-#{column.icon}-plain"}
          .graph.col-xs-12.col-sm-9
            .text.row
              .col-xs-4
                %h4
                  %i.fa.fa-star.small
                  %span Beginner
              .col-xs-4
                %h4
                  %i.fa.fa-star.medium
                  %span Intermediate
              .col-xs-4
                %h4
                  %i.fa.fa-star.large
                  %span Expert
            .percentage.row
              .col-xs-4
                .b{:class => "#{column.b}"}
              .col-xs-4
                .i{:class => "#{column.i}"}
              .col-xs-4
                .e{:class => "#{column.e}"}
  :coffeescript
  - skilloptions = {        |
    row: {                  |
      column: {             |
        icon: "html5test",  |
        b: "full",          |
        i: "full",          |
        e: "full"           |
      },                    |
      column: {             |
        icon: "css3test",   |
        b: "full",          |
        i: "full",          |
        e: "full"           |
      }                     |
    }                       |
  }                         |
  = skills(skilloptions)


%html
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => "https://fonts.googleapis.com/css?family=Dosis:300,500|Open+Sans:400,600&subset=latin-ext"}
    /build:css css/style.min.css
    - for i in ["bootstrap", "devicon", "font-awesome"]
      %link{:rel => "stylesheet", :type => "text/css", :href => "css/#{i}.min.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/main.css"}
    /endbuild

    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

  %body.text-center#top{:data => {:spy => "scroll", :target => ".navbar", :offset => "50"}}
    .background
    %nav.navbar.navbar-fixed-top{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{:data => {:toggle => "collapse", :target => "#navigation"}}
            %span.sr-only Toggle navigation

            - for i in [0...3]
              %span.icon-bar

        .collapse.navbar-collapse.navbar-right#navigation
          %ul.nav.navbar-nav.text-capitalize
            - for i in ["about", "skills", "work", "contact"]
              %li
                %a{:href => "##{i}"}= i
    %header#intro
      .profile-image
      .col-xs-12.col-md-5.text-left
        .hello
          %h1
            %b Hello,
            %br
            I'm Irina
      .col-xs-12
        %button.btn.btn-round.btn-overlay
          %i.fa.fa-chevron-down
    
    %section#about
      .container
        %h1 What do I do?
        %p I'm a simple person, I don't do well when directly exposed to the outernet and I get an existential crisis without a working PC within 5 meters of me.
          I eat, dream, and breathe programming, whenever I have the opportunity to work with something programming-related I'll go for it, no matter what it is. There's no better feeling in the world for me than being able to solve issues which caused me or other people a lot of headache.
          I like to create things, doesn't have to be something entirely new, it just has to be something different. I like to create in order to learn, it's the educated kind of trial and error that really excites me and drives me to finish something I have in mind.
          There are projects I've created just for the sole purpose of learning by building on them. I leave those projects sometimes untouched for several months until I find a new functionality that will possibly help me learn something new.
          Receiving critique is the best way to learn for me, especially when I realize my approach wasn't as good as I thought at first. It makes the newly acquired knowledge stick faster than repeating the same thing over and over again until it's almost second nature to me.
          However, I'm not a one trick pony. Sometimes I just wanna do something else to break the flow which is when I turn to one of my hobbies. Some of them include vocal synthesizers, games and ways to improve them (especially when it has to be done in creative ways), and graphics design.
    
    %section#skills
      .container
        %h1.page-header Skills
        .container.text-left
          %h2 Front end:
          .row
            .skill.col-xs-12.col-md-6
              .col-xs-12.col-sm-3.text-center
                %i.devicon.devicon-html5-plain
              .graph.col-xs-12.col-sm-9
                .text.row
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.small
                      %span Beginner
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.medium
                      %span Intermediate
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.large
                      %span Expert
                .percentage.row
                  .col-xs-4
                    .b.full
                  .col-xs-4
                    .i.full
                  .col-xs-4
                    .e.full
            .skill.col-xs-12.col-md-6
              .col-xs-12.col-sm-3.text-center
                %i.devicon.devicon-css3-plain
              .graph.col-xs-12.col-sm-9
                .text.row
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.small
                      %span Beginner
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.medium
                      %span Intermediate
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.large
                      %span Expert
                .percentage.row
                  .col-xs-4
                    .b.full
                  .col-xs-4
                    .i.full
                  .col-xs-4
                    .e.full
          .row
            .skill.col-xs-12.col-md-6
              .col-xs-12.col-sm-3.text-center
                %i.devicon.devicon-javascript-plain
              .graph.col-xs-12.col-sm-9
                .text.row
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.small
                      %span Beginner
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.medium
                      %span Intermediate
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.large
                      %span Expert
                .percentage.row
                  .col-xs-4
                    .b.full
                  .col-xs-4
                    .i.full
                  .col-xs-4
                    .e.half
            .skill.col-xs-12.col-md-6
              .col-xs-12.col-sm-3.text-center
                %i.devicon.devicon-jquery-plain
              .graph.col-xs-12.col-sm-9
                .text.row
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.small
                      %span Beginner
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.medium
                      %span Intermediate
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.large
                      %span Expert
                .percentage.row
                  .col-xs-4
                    .b.full
                  .col-xs-4
                    .i.full
                  .col-xs-4
                    .e.third
          .row
            .skill.col-xs-12.col-md-6
              .col-xs-12.col-sm-3.text-center
                %i.devicon.devicon-bootstrap-plain
              .graph.col-xs-12.col-sm-9
                .text.row
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.small
                      %span Beginner
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.medium
                      %span Intermediate
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.large
                      %span Expert
                .percentage.row
                  .col-xs-4
                    .b.full
                  .col-xs-4
                    .i.full
                  .col-xs-4
                    .e.third
            .skill.col-xs-12.col-md-6
              .col-xs-12.col-sm-3.text-center
                %i.devicon.devicon-sass-plain
              .graph.col-xs-12.col-sm-9
                .text.row
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.small
                      %span Beginner
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.medium
                      %span Intermediate
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.large
                      %span Expert
                .percentage.row
                  .col-xs-4
                    .b.full
                  .col-xs-4
                    .i.full
                  .col-xs-4
                    .e
          %h2 Back end:
          .row
            .skill.col-xs-12.col-md-6
              .col-xs-12.col-sm-3.text-center
                %i.devicon.devicon-php-plain
              .graph.col-xs-12.col-sm-9
                .text.row
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.small
                      %span Beginner
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.medium
                      %span Intermediate
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.large
                      %span Expert
                .percentage.row
                  .col-xs-4
                    .b.full
                  .col-xs-4
                    .i.full
                  .col-xs-4
                    .e.half
            .skill.col-xs-12.col-md-6
              .col-xs-12.col-sm-3.text-center
                %i.devicon.devicon-mysql-plain
              .graph.col-xs-12.col-sm-9
                .text.row
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.small
                      %span Beginner
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.medium
                      %span Intermediate
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.large
                      %span Expert
                .percentage.row
                  .col-xs-4
                    .b.full
                  .col-xs-4
                    .i.full
                  .col-xs-4
                    .e.third
          .row
            .skill.col-xs-12.col-md-6
              .col-xs-12.col-sm-3.text-center
                %i.devicon.devicon-laravel-plain
              .graph.col-xs-12.col-sm-9
                .text.row
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.small
                      %span Beginner
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.medium
                      %span Intermediate
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.large
                      %span Expert
                .percentage.row
                  .col-xs-4
                    .b.full
                  .col-xs-4
                    .i.full
                  .col-xs-4
                    .e.third
            .skill.col-xs-12.col-md-6
              .col-xs-12.col-sm-3.text-center
                %i.devicon.devicon-wordpress-plain
              .graph.col-xs-12.col-sm-9
                .text.row
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.small
                      %span Beginner
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.medium
                      %span Intermediate
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.large
                      %span Expert
                .percentage.row
                  .col-xs-4
                    .b.full
                  .col-xs-4
                    .i.full
                  .col-xs-4
                    .e

    %section#work
      .skew-pages
        .skew-page.active#page1
          .skew-page-left
            .skew-page-skewed
              .skew-page_content
                %h2
                  %a{:href => "https://www.wearebamboo.com/"} We Are Bamboo
                %p This project was really fun to work on because it was a real full stack experience. It pushed me to explore, learn, and get comfortable with various skillsets while improving my overall code proficiency. Some of the things I've done include:
                %ul
                  %li Rewrote the front end using the newest technologies while keeping the original SquareSpace design intact, greatly decreasing loading time of the website.
                  %li Enhanced security of the tour sign up process.
                  %li Improved code quality to decrease server resource consumption on statistics pages.
                  %li Resolved multiple inconsistency bugs by minimizing code repetition which improved website performance and fixed problems with wrong data being displayed.
                  %li Implemented Stripe as an alternative method of payment in the tour signup process.
                %a.btn.btn-sm{:href => "https://codepen.io/RuinIsProbablyTaken/pen/OboeyB"} Landing page concept
                %a.btn.btn-sm{:href => "https://codepen.io/RuinIsProbablyTaken/pen/BppRwZ"} Other pages concept
          .skew-page-right
            .skew-page-skewed
              .skew-page_content.skew-page_content_image
        .skew-page#page2
          .skew-page-left
            .skew-page-skewed
              .skew-page_content.skew-page_content_image
          .skew-page-right
            .skew-page-skewed
              .skew-page_content
                %h2
                  %a{:href => "https://jcltraffic.com/"} JCL Traffic
                %p Working on a CRM was really enjoyable since it was my very first project of that sort and it's complex by nature. Developed tools that will be used internally via the admin panel by the JCL Traffic personnel. Some of the things I've done include:
                %ul
                  %li Resolved user role handling inconsistency to enforce better role handling which decreased development time and improved scalability.
                  %li Enhanced personnel account possibilities to include taking full control of the user accounts in order for support service to be much more effective.
        .skew-page#page3
          .skew-page-left
            .skew-page-skewed
              .skew-page_content
                %h2 Minute To Win It
                %p In this project the accent was on the unique design, ease of use, and customization freedom. It had to be friendly for non-technical people and having that in mind I decided on using WordPress and Divi theme for easy page manipulation.
                %a.btn.btn-sm{:href => "https://codepen.io/RuinIsProbablyTaken/pen/YNzjwZ"} Header concept
          .skew-page-right
            .skew-page-skewed
              .skew-page_content.skew-page_content_image
      .cards
        .card#page1
          .card-header
            .card-image
            %h2.card-title
              .container
                %a{:href => "https://www.wearebamboo.com/"} We Are Bamboo
          .card-content.container
            %p This project was really fun to work on because it was a real full stack experience. It pushed me to explore, learn, and get comfortable with various skillsets while improving my overall code proficiency. Some of the things I've done include:
            %ul
              %li Rewrote the front end using the newest technologies while keeping the original SquareSpace design intact, greatly decreasing loading time of the website.
              %li Enhanced security of the tour sign up process.
              %li Improved code quality to decrease server resource consumption on statistics pages.
              %li Resolved multiple inconsistency bugs by minimizing code repetition which improved website performance and fixed problems with wrong data being displayed.
              %li Implemented Stripe as an alternative method of payment in the tour signup process.
            %a.btn.btn-sm{:href => "https://codepen.io/RuinIsProbablyTaken/pen/OboeyB"} Landing page concept
            %a.btn.btn-sm{:href => "https://codepen.io/RuinIsProbablyTaken/pen/BppRwZ"} Other pages concept
        .card#page2
          .card-header
            .card-image
            %h2.card-title
              .container
                %a{:href => "https://jcltraffic.com/"} JCL Traffic
          .card-content.container
            %p Working on a CRM was really enjoyable since it was my very first project of that sort and it's complex by nature. Developed tools that will be used internally via the admin panel by the JCL Traffic personnel. Some of the things I've done include:
            %ul
              %li Resolved user role handling inconsistency to enforce better role handling which decreased development time and improved scalability.
              %li Enhanced personnel account possibilities to include taking full control of the user accounts in order for support service to be much more effective.
        .card#page3
          .card-header
            .card-image
            %h2.card-title
              .container
                Minute To Win It
          .card-content.container
            %p In this project the accent was on the unique design, ease of use, and customization freedom. It had to be friendly for non-technical people and having that in mind I decided on using WordPress and Divi theme for easy page manipulation.
            %a.btn.btn-sm{:href => "https://codepen.io/RuinIsProbablyTaken/pen/YNzjwZ"} Header concept
      .skew-pages_overlay
      %a.stick-top.skip-work.skew-pages_navigation{:href => "#skills"}
        %span.fa.fa-chevron-up
      %a.btn#show-work.skew-pages_navigation{:href => "#work"} Browse
      %a.stick-bottom.skip-work.skew-pages_navigation{:href => "#contact"}
        %span.fa.fa-chevron-down


    %section#contact
      .container
        %h1#target Get in touch!
        %form{:method => "POST", :action => "https://formspree.io/irina.balaban.dev@gmail.com"}
          .form-group.field
            .block
              %label{:for => "email-from"} Your email address:
            %input.form-control{:type => "email", :name => "email-from", :placeholder => "", :required => "required"}
          .form-group.field
            .block
              %label{:for => "message"} Your message:
            %textarea.form-control{:name => "message", :required => "required"}
          %button.btn.btn-overlay{:type => "submit"} Send
    
    %footer
      .container
        .credits
          Made by Irina Balaban
          %br
          Using
          %a{:href => "https://github.com/twbs/bootstrap"} Bootstrap
          ,
          %a{:href => "https://github.com/FortAwesome/Font-Awesome"} Font Awesome
          ,
          %a{:href => "https://github.com/konpa/devicon/"} Devicon
          ,
          %a{:href => "https://github.com/jquery/jquery"} jQuery
          , and
          %a{:href => "https://github.com/rdallasgray/bez"} jQuery bez plugin
          %br
          Picture by
          %a{:href => "https://www.pexels.com/u/snufkin-44775/"} Snufkin at Pexels

        .row.social
          .col-xs-12.col-sm-1.col-sm-offset-3
            %a{:href => "https://codepen.io/RuinIsProbablyTaken/"}
              %i.fa.fa-codepen
          .col-xs-12.col-sm-1
            %a{:href => "https://bitbucket.org/Ruinisprobablytaken/"}
              %i.fa.fa-bitbucket
          .col-xs-12.col-sm-1
            %a{:href => "https://github.com/slri/"}
              %i.fa.fa-github
          .col-xs-12.col-sm-1
            %a{:href => "https://www.freecodecamp.org/ruinisprobablytaken"}
              %i.fa.fa-free-code-camp
          .col-xs-12.col-sm-1
            %a{:href => "#", :data => {:toggle => "tooltip", :placement => "top"}, :title => "Add slri#2962!"}
              %i.fa.fa-discord
          .col-xs-12.col-sm-1
            %a.skype-button{:href => "#!", :"data-contact-id" => "live:irina.balaban.dev"}
              %i.fa.fa-skype


    %script{:src => "https://swc.cdn.skype.com/sdk/v1/sdk.min.js"}
    /build:js js/main.min.js
    - for i in ["jquery", "jquery.bez", "bootstrap", "tinycolor"]
      %script{:src => "js/#{i}.min.js"}
    %script{:src => "js/scrollicious.js"}
    %script{:src => "js/main.js"}
    /endbuild