!!!
-#
  Moved here due to this code not working(although it should). Leaving it for future reference.
  - skills = (opts) ->
    - for row in opts
      .row
      - for column in row
        .skill.col-xs-12.col-md-6
          .col-xs-12.col-sm-3.text-center
            %i.devicon{:class => "devicon-#{column.icon}-plain"}
          .graph.col-xs-12.col-sm-9
            .text.row
              .col-xs-4
                %h4
                  %i.fa.fa-star.small
                  %span Beginner
              .col-xs-4
                %h4
                  %i.fa.fa-star.medium
                  %span Intermediate
              .col-xs-4
                %h4
                  %i.fa.fa-star.large
                  %span Expert
            .percentage.row
              .col-xs-4
                .b{:class => "#{column.b}"}
              .col-xs-4
                .i{:class => "#{column.i}"}
              .col-xs-4
                .e{:class => "#{column.e}"}
  :coffeescript
  - skilloptions = {        |
    row: {                  |
      column: {             |
        icon: "html5test",  |
        b: "full",          |
        i: "full",          |
        e: "full"           |
      },                    |
      column: {             |
        icon: "css3test",   |
        b: "full",          |
        i: "full",          |
        e: "full"           |
      }                     |
    }                       |
  }                         |
  = skills(skilloptions)


%html
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => "https://fonts.googleapis.com/css?family=Dosis:300,500|Open+Sans:400,600&subset=latin-ext"}
    /build:css css/style.min.css
    - for i in ["bootstrap", "devicon", "font-awesome"]
      %link{:rel => "stylesheet", :type => "text/css", :href => "/css/#{i}.min.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/main.css"}
    /endbuild

    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

  %body.text-center#top{:data => {:spy => "scroll", :target => ".navbar", :offset => "50"}}
    .background
    %nav.navbar.navbar-fixed-top{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{:data => {:toggle => "collapse", :target => "#navigation"}}
            %span.sr-only Toggle navigation

            - for i in [0...3]
              %span.icon-bar

        .collapse.navbar-collapse.navbar-right#navigation
          %ul.nav.navbar-nav.text-capitalize
            - for i in ["about", "skills", "work", "contact"]
              %li
                %a{:href => "##{i}"}= i
    %header#intro
      .profile-image
      .col-xs-12.col-md-5.text-left
        .hello
          %h1
            %b Hello,
            %br
            I'm Irina
      .col-xs-12
        %button.btn.btn-round.btn-overlay
          %i.fa.fa-chevron-down
    
    %section#about
      .container
        %h1 What do I do?
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae lectus et justo euismod dictum a quis metus. Maecenas vitae nisi risus. Cras sed dignissim dui. Integer sit amet aliquam nisi. Vestibulum ullamcorper ex vitae accumsan sodales. Donec ut nisl vel ipsum porta vehicula. Donec imperdiet, est quis aliquet maximus, ligula turpis ultricies ipsum, et egestas massa ex dictum purus. Phasellus lacinia ligula purus, eu iaculis mauris facilisis vitae.
    
    %section#skills
      .container
        %h1.page-header Skills
        .container.text-left
          %h2 Front end:
          .row
            .skill.col-xs-12.col-md-6
              .col-xs-12.col-sm-3.text-center
                %i.devicon.devicon-html5-plain
              .graph.col-xs-12.col-sm-9
                .text.row
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.small
                      %span Beginner
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.medium
                      %span Intermediate
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.large
                      %span Expert
                .percentage.row
                  .col-xs-4
                    .b.full
                  .col-xs-4
                    .i.full
                  .col-xs-4
                    .e.full
            .skill.col-xs-12.col-md-6
              .col-xs-12.col-sm-3.text-center
                %i.devicon.devicon-css3-plain
              .graph.col-xs-12.col-sm-9
                .text.row
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.small
                      %span Beginner
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.medium
                      %span Intermediate
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.large
                      %span Expert
                .percentage.row
                  .col-xs-4
                    .b.full
                  .col-xs-4
                    .i.full
                  .col-xs-4
                    .e.full
          .row
            .skill.col-xs-12.col-md-6
              .col-xs-12.col-sm-3.text-center
                %i.devicon.devicon-javascript-plain
              .graph.col-xs-12.col-sm-9
                .text.row
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.small
                      %span Beginner
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.medium
                      %span Intermediate
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.large
                      %span Expert
                .percentage.row
                  .col-xs-4
                    .b.full
                  .col-xs-4
                    .i.full
                  .col-xs-4
                    .e.half
            .skill.col-xs-12.col-md-6
              .col-xs-12.col-sm-3.text-center
                %i.devicon.devicon-jquery-plain
              .graph.col-xs-12.col-sm-9
                .text.row
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.small
                      %span Beginner
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.medium
                      %span Intermediate
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.large
                      %span Expert
                .percentage.row
                  .col-xs-4
                    .b.full
                  .col-xs-4
                    .i.full
                  .col-xs-4
                    .e.third
          .row
            .skill.col-xs-12.col-md-6
              .col-xs-12.col-sm-3.text-center
                %i.devicon.devicon-bootstrap-plain
              .graph.col-xs-12.col-sm-9
                .text.row
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.small
                      %span Beginner
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.medium
                      %span Intermediate
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.large
                      %span Expert
                .percentage.row
                  .col-xs-4
                    .b.full
                  .col-xs-4
                    .i.full
                  .col-xs-4
                    .e.third
            .skill.col-xs-12.col-md-6
              .col-xs-12.col-sm-3.text-center
                %i.devicon.devicon-sass-plain
              .graph.col-xs-12.col-sm-9
                .text.row
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.small
                      %span Beginner
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.medium
                      %span Intermediate
                  .col-xs-4
                    %h4
                      %i.fa.fa-star.large
                      %span Expert
                .percentage.row
                  .col-xs-4
                    .b.full
                  .col-xs-4
                    .i.full
                  .col-xs-4
                    .e

    %section#work
      .container
        %h1 Projects I have done so far
        %p Vivamus volutpat pharetra sapien eget facilisis. Vivamus eget risus mi. Aenean orci est, rutrum quis lacus venenatis, tincidunt facilisis magna. Praesent vehicula urna sed semper blandit. In libero eros, rutrum ac justo at, auctor rhoncus elit. Nunc quis egestas lacus. Nunc dapibus, nisi vel ultrices aliquam, erat velit finibus sapien, nec dapibus purus enim in dolor. Ut libero lectus, imperdiet ac risus vel, varius finibus lacus. Etiam semper finibus odio, non elementum eros facilisis quis. Donec ac augue sit amet est dapibus posuere sit amet quis libero. Nam a velit id orci pharetra viverra ac sed felis.
          
    %section#contact
      .container
        %h1 Get in touch!
        %form{:action => ""}
          .form-group.field
            .block
              %label{:for => "email-from"} Your email address:
            %input.form-control{:type => "email", :name => "email-from", :placeholder => "", :required => "required"}
          .form-group.field
            .block
              %label{:for => "message"} Your message:
            %textarea.form-control{:required => "required"}
          %button.btn.btn-overlay{:type => "submit"} Send
    
    %footer
      .container
        .credits
          Made by Irina Balaban
          %br
          Using
          %a{:href => "https://github.com/twbs/bootstrap"} Bootstrap
          ,
          %a{:href => "https://github.com/FortAwesome/Font-Awesome"} Font Awesome
          ,
          %a{:href => "https://github.com/konpa/devicon/"} Devicon
          ,
          %a{:href => "https://github.com/jquery/jquery"} jQuery
          , and
          %a{:href => "https://github.com/rdallasgray/bez"} jQuery bez plugin
          %br
          Picture by
          %a{:href => "https://www.pexels.com/u/snufkin-44775/"} Snufkin at Pexels

        .row.social
          .col-xs-12.col-sm-1.col-sm-offset-2
            %a{:href => "#"}
              %i.fa.fa-twitter
          - for i in ["codepen", "github", "bitbucket", "free-code-camp", "skype", "telegram"]
            .col-xs-12.col-sm-1
              %a{:href => "#"}
                %i.fa{:class => "fa-#{i}"}

    /build:js js/main.min.js
    - for i in ["jquery", "jquery.bez", "bootstrap", "ScrollMagic"]
      %script{:src => "/js/#{i}.min.js"}
    %script{:src => "/js/main.js"}
    /endbuild